body {
    font-family: Georgia, Verdana, Arial, Helvetica;
    background-color: #eee6ff;
    background-repeat: no-repeat;
    font-size: 1em;
    line-height: 1.5;
    min-height: 100vh;
    margin:  0;
}
.flexcontainer {
    flex: 1;   
    display: flex;    
    flex-direction: column;
    background-image: url('img/computer.jpg');
    background-repeat: no-repeat;
    background-origin: content-box;        
    max-width: 80em;
    margin: auto;
}
header {   
    flex: 1 100%;    
    display: flex;    
    justify-content: center;
    padding: 2em;  
    background-color: #8000ff;
}
main {
   flex: 1 100%;
   display: flex;
   flex-direction: column; 
}
#first {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 2em 0;
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-size: 3em;
  background: rgba(128, 0, 255, 0.6)
}
#profil_container {
  flex:  1;
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #5900b3;
  min-height: 40em;
}
.prof {
  height:  270px;
  width: 600px;
  padding: 1em;
  background-color: #e6ccff;
  border-radius: 8px;  
}  
.image {
  float: left;
  margin-right: 1em;
}
li {
  list-style-type: none;
  color: black;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
}
aside.likebutton {
  float: right;
}
button {
  background-color: #b3ffe6; 
  font-size: 1.5em;
  border-radius:  10px;
}
#profile_likes {
  display:  inline;
  color:  red;
  font-size: 2.5em;
  padding:  0 0.2em;
}

footer {
   flex: 1;  
   text-align: center;
   min-height: 5em;     
   background-color: white; 
   padding-top: 0.7em;   
}




/*ul.links {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;  
  padding: 0;
  list-style-type: none;  
}
ul.links a { 
  padding-right: 1em;
}
 a:link {
    color: coral;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}*/







